<ul ng-if="showAdminMenu()" class="nav navbar-nav">
    <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{
            'navigation.admin.admin' | translate }} <span
                    class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li ng-if="showAdminUserMenu()">
                <a href="#/admin/user">{{ 'navigation.admin.users' | translate }}</a>
            </li>
            <li ng-if="showAdminPlayerMenu()">
                <a href="#/admin/player">{{ 'navigation.admin.players' | translate }}</a>
            </li>
            <li>
                <hr>
            </li>
            <li ng-if="showAdminGoodMenu()">
                <a href="#/admin/good">{{ 'navigation.admin.good' | translate }}</a>
            </li>
            <li ng-if="showAdminBuildingMenu()">
                <a href="#/admin/building">{{ 'navigation.admin.building' | translate }}</a>
            </li>
            <li ng-if="showAdminTechnologyMenu()">
                <a href="#/admin/technology">{{ 'navigation.admin.technology' | translate }}</a>
            </li>
            <li ng-if="showAdminJobMenu()">
                <a href="#/admin/job">{{ 'navigation.admin.job' | translate }}</a>
            </li>

        </ul>
    </li>
</ul>
