<div class="input-group">
    <span class="input-group-addon" id="description-name_de_DE">{{ 'admin.editField.name' | translate }} <img
            src="images/flags/de.png"></span>
    <input class="form-control" type="text" ng-model="obj.name['de-DE']" aria-describedby="description-name_de_DE">
</div>

<div class="input-group">
    <span class="input-group-addon" id="description-name_en_GB">{{ 'admin.editField.name' | translate }} <img
            src="images/flags/gb.png"></span>
    <input class="form-control" type="text" ng-model="obj.name['en-GB']" aria-describedby="description-name_en_GB">
</div>

<div class="input-group">
    <span class="input-group-addon"
          id="description-description_de_DE">{{ 'admin.editField.description' | translate }} <img
            src="images/flags/de.png"></span>
    <input class="form-control" type="text" ng-model="obj.description['de-DE']"
           aria-describedby="description-description_de_DE">
</div>

<div class="input-group">
    <span class="input-group-addon"
          id="description-description_en_GB">{{ 'admin.editField.description' | translate }} <img
            src="images/flags/gb.png"></span>
    <input class="form-control" type="text" ng-model="obj.description['en-GB']"
           aria-describedby="description-description_en_GB">
</div>
