<my-navbar></my-navbar>

<tabset>

    <tab>
        <tab-heading>
            {{ 'admin.title.technologyEditor' | translate }}
        </tab-heading>
        <my-form-field-id></my-form-field-id>
        <my-form-field-enabled></my-form-field-enabled>
        <my-form-field-name-and-desc></my-form-field-name-and-desc>
        <my-edit-buttons></my-edit-buttons>
    </tab>

    <tab>
        <tab-heading>
            {{ 'admin.title.costEditor' | translate }}
        </tab-heading>
        <my-buyable-cost-editor ng-if="id !== 'new'" resourceName="building" buyableId="id">
        </my-buyable-cost-editor>
    </tab>

    <tab>
        <tab-heading>
            {{ 'admin.title.requirementEditor' | translate }}
        </tab-heading>
        <my-buyable-requirements-editor ng-if="id !== 'new'" resourceName="building" buyableId="id">
        </my-buyable-requirements-editor>
    </tab>

</tabset>







