<my-navbar></my-navbar>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'admin.title.goodEditor' | translate }}</h3>
    </div>
    <div class="panel-body">

        <my-form-field-id></my-form-field-id>

        <my-form-field-enabled></my-form-field-enabled>

        <my-form-field-name-and-desc></my-form-field-name-and-desc>

        <my-edit-buttons></my-edit-buttons>

    </div>

</div>

<my-buyable-cost-editor ng-if="id !== 'new'" resourceName="building" buyableId="id"></my-buyable-cost-editor>
