<my-navbar></my-navbar>

<tabset>

    <tab ng-if="showDetailsTab()">
        <tab-heading>
            {{ 'admin.title.jobEditor' | translate }}
        </tab-heading>

        <my-form-field-id></my-form-field-id>

        <my-form-field-enabled></my-form-field-enabled>

        <my-form-field-name-and-desc></my-form-field-name-and-desc>

        <my-edit-buttons></my-edit-buttons>

    </tab>


    <tab ng-if="showProductionTab()">
        <tab-heading>
            {{ 'admin.title.productionEditor' | translate }}
        </tab-heading>
        <my-job-production-editor ng-if="id !== 'new'" resourceName="job" jobId="id">
        </my-job-production-editor>
    </tab>

</tabset>
