<nav class="navbar navbar-default">
    <div class="container-fluid">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">{{ 'navigation.title' | translate }}</a>
        </div>

        <div>
            <my-menu></my-menu>

            <ul class="nav navbar-nav navbar-right">
                <li>
                    <my-language-switcher></my-language-switcher>
                </li>
                <li>
                    <my-login-info></my-login-info>
                </li>
            </ul>
        </div>
    </div>

</nav>
