<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">{{ 'admin.title.userEditor' | translate }}</h3>
    </div>
    <div class="panel-body">

        <my-form-field-id></my-form-field-id>

        <my-form-field-enabled></my-form-field-enabled>

        <div class="input-group">
            <span class="input-group-addon"
                  id="description-username">{{ 'admin.editField.username' | translate }}</span>
            <input class="form-control" type="text" ng-model="obj.username" aria-describedby="description-username">
        </div>

        <div class="input-group">
            <span class="input-group-addon" id="description-email">eMail</span>
            <input class="form-control" type="text" ng-model="obj.email" aria-describedby="description-email">
        </div>

        <my-edit-buttons></my-edit-buttons>

    </div>
</div>

<my-user-player-assign-grids ng-if="id !== 'new'" userId="{{id}}"></my-user-player-assign-grids>
